.DS_Store
build
.vscode

resources/texture/*
!resources/texture/ground/
!resources/texture/building/
!resources/texture/aircraft
!resources/texture/skybox/
resources/texture/skybox/*
!resources/texture/skybox/Clear/

